/*H1 hom page*/
.slogan {
    -webkit-text-stroke: 1px black;
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 4rem auto;
    max-width: 25rem;
}
